.error {
  color: red;
}
.inputError {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 2px;
}
.inputSuccess {
  border: 2px solid green;
  background-color: rgba(0, 128, 0, 0.1);
  border-radius: 2px;
}

